// 定位
%align {
  & {
    display: table;
    width: 100%;
    height: 100%;

    & > * {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      height: 100%;
      width: 100%;

      & > * {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  &[align="ct"] {
    & > * {
      text-align: center;
      vertical-align: top;
    }
  }

  &[align="cb"] {
    & > * {
      text-align: center;
      vertical-align: bottom;
    }
  }

  &[align="lt"] {
    & > * {
      text-align: left;
      vertical-align: top;
    }
  }

  &[align="rt"] {
    & > * {
      text-align: right;
      vertical-align: top;
    }
  }

  &[align="lm"] {
    & > * {
      text-align: left;
      vertical-align: middle;
    }
  }

  &[align="rm"] {
    & > * {
      text-align: right;
      vertical-align: middle;
    }
  }

  &[align="lb"] {
    & > * {
      text-align: left;
      vertical-align: bottom;
    }
  }

  &[align="rb"] {
    & > * {
      text-align: right;
      vertical-align: bottom;
    }
  }

  &[align="cm"] {
    & > * {
      text-align: center;
      vertical-align: middle;
    }
  }
}

@mixin align($align:"cm") {

  & {
    display: table;
    width: 100%;
    height: 100%;

    & > * {
      position: relative;
      display: table-cell;
      height: 100%;
      width: 100%;

      @if $align=="ct" {
        text-align: center;
        vertical-align: top;
      } @else if $align=="cb" {
        text-align: center;
        vertical-align: bottom;
      } @else if $align=="lt" {
        text-align: left;
        vertical-align: top;
      } @else if $align=="rt" {
        text-align: right;
        vertical-align: top;
      } @else if $align=="lm" {
        text-align: left;
        vertical-align: middle;
      } @else if $align=="rm" {
        text-align: right;
        vertical-align: middle;
      } @else if $align=="lb" {
        text-align: left;
        vertical-align: bottom;
      } @else if $align=="rb" {
        text-align: right;
        vertical-align: bottom;
      } @else {
        text-align: center;
        vertical-align: middle;
      }

      & > * {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
