// 清除浮动
.cb, .cb-z > * {
  clear: both;

  &:after {
    display: table;
    content: "";
    clear: both
  }
}


// 居中对齐
.ac {
  text-align: center;
}

// 居左对齐
.al {
  text-align: left;
}

// 居右对齐
.ar {
  text-align: right;
}
